# Copy this into a .env file, and add your own information.

NAME="Developer ID Application: <your name> (<team id>)"
KEYCHAIN_PROFILE="<name of keychain profile>"

# Only required if you have not yet created a Keychain Profile.
# See README for details.
APPLE_ID="<apple id email>"
PASSWORD="<app-specfic password>"
