--enable acronyms
--enable blankLinesAfterGuardStatements
--enable blankLinesBetweenImports
--enable blockComments
--enable environmentEntry
--enable isEmpty
--enable noExplicitOwnership
--enable noForceTryInTests
--enable noForceUnwrapInTests
--enable noGuardInTests
--enable organizeDeclarations
--enable preferFinalClasses
--enable preferSwiftTesting
--enable privateStateVariables
--enable propertyTypes
--enable redundantAsync
--enable redundantEquatable
--enable redundantMemberwiseInit
--enable redundantProperty
--enable redundantThrows
--enable singlePropertyPerLine
--enable sortSwitchCases
--enable urlMacro
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapMultilineConditionalAssignment
--enable wrapMultilineFunctionChains
--enable wrapSwitchCases
--acronyms ADAM,ADI,AE,ANSI,API,CD,CEO,CF,CI,CK,CPU,DAV,DOS,DS,DSID,DVD,EOF,FAQ,FAT,FD,FTP,GB,GID,GUI,GUID,HTML,HTTP,HTTPS,ID,IFS,ISO,JSON,KB,MAS,MD,MDM,MDS,MIB,MIT,NS,OS,OSX,PDF,PR,QL,SB,SDK,SHA,SS,SSH,STDQ,STDRDL,UDF,UI,UID,URL,US,UTF,UUID,VPP,XML,XPC,YAML
--allow-partial-wrapping false
--complex-attributes prev-line
--computed-var-attributes prev-line
--conditional-assignment always
--exponent-grouping enabled
--file-macro "#fileID"
--fraction-grouping enabled
--func-attributes prev-line
--hex-literal-case lowercase
--ifdef no-indent
--indent tab
--indent-strings true
--line-after-marks false
--mark-categories false
--max-width 120
--organization-mode type
--organize-types actor,class,enum,extension,struct
--property-types inferred
--ranges no-space
--redundant-async always
--redundant-throws always
--semicolons never
--short-optionals always
--single-line-for-each convert
--stored-var-attributes same-line
--tab-width 2
--type-attributes prev-line
--type-body-marks remove
--wrap-effects never
--wrap-return-type never
--wrap-ternary before-operators
--indent-case true